@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <h1 class="title"> Welcome to Gym Inns</h1>

    <div class="row">
        <div class="col" style="background-color:darkgrey">
            tes
        </div>
    </div>

    <div class="row">
        <div class="col">
          Our Product
        </div>
        <div class="col">
          Our Team
        </div>
    </div>

</div>
